<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <header>
        <a href="/" style="text-decoration: none; color: inherit;">
            <strong>SkillLink</strong>
        </a>        <nav>
            <a href="/providers">Providers</a>
            <a id = 'invoice-link' href="/invoices" style="display: none;">My invoices</a>
            <a id="profile-link" href="/profile" style="display: none;">My Profile</a>
            <a id="logout-link" href="/logout" style="display: none;">Log Out</a>
            <a id="login-link" href="/login" style="display: none;">Sign In</a>
        </nav>
    </header>

    <script>
        fetch('/authenticated')
            .then(response => response.json())
            .then(isAuthenticated => {
                document.getElementById('logout-link').style.display = isAuthenticated ? 'inline' : 'none';
                document.getElementById('invoice-link').style.display = isAuthenticated ? 'inline' : 'none';
                document.getElementById('login-link').style.display = isAuthenticated ? 'none' : 'inline';
                document.getElementById('profile-link').style.display = isAuthenticated ? 'inline' : 'none';

                console.log(isAuthenticated)
            })
            .catch(err => {
                console.error('Failed to check authentication:', err);
            });
    </script>


</div>
</body>
</html>
